<%- include('partials/header') -%>

    <h1 class="display-4">Home</h1>

    <p>
        <%= para %>
    </p>

    <a href="/compose" class="btn btn-primary create">Create Post</a>

    <form action="/search" method="POST" class="search">

        <div class="row">
            <div class="col-sm-8 py-2 px-3">
                <input type="search" name="search" class="form-control" placeholder="Search">
            </div>
            <div class="col-sm-4 py-2 px-3">
                <button type="submit" class="btn btn-primary px-5">Search</button>
            </div>
        </div>
    </form>

    <div class="row">

        <% allPosts.forEach(function(post) { %>

            <div class="col-md-4 col-sm-6 p-3">
                <div class="card">
                    <div class="card-header">
                        <h2>
                            <%= post.title %>
                        </h2>
                    </div>
                    <div class="card-body">
                        <p>
                            <%= post.text.substring(0,100) %> ...<a href='/posts/<%= post.title %>'>Read More</a>
                        </p>
                    </div>

                </div>
            </div>

            <% }) %>

    </div>

    <%- include('partials/footer') -%>